@model Product
<h1>Edit product</h1>

<form asp-action="EditProduct">
   
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Price</label>
        <input asp-for="Price" type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Title</label>
        <input asp-for="Title" type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Model</label>
        <input asp-for="Model" type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Feedbacks</label>
        <input asp-for="Feedbacks" type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">ImageUrl</label>
        <input asp-for="ImageUrl" type="text" class="form-control" id="formGroupExampleInput2" placeholder="...">
    </div>

    <button type="submit" class="btn btn-success">Create Product</button>
</form>

